.cloud-form .field .input-append {
	margin-bottom: 0px;
	margin-left: 10px; 
	width: 70px;  
}
.cloud-form .field .input-append .add-on {
	position: absolute; 
	height: 100%; 
}
.cloud-form .field .input-append .add-on i {
	margin: 5px 0 0 2px; 
}
