.type-info label {
	display: block;
	float: none;
	line-height: 2em;
}
.type-info label:hover {
	cursor: default; 
}
.field.type-info:hover .copy_to_use {
	display: none; 
}
.type-info .text-content {
	padding-top: 1em;
}