.cloud .field.type-toggle label {
	line-height: 1em;
}
.cloud .field.type-toggle .input {
	margin-right: 0;
}

.cloud .field.type-toggle input {
	position: relative ;
	top: -3px; 
	margin-right: 5px;
}