.cloud .field.type-checkbox label {
  line-height: 1em;
}
.cloud .field.type-checkbox .input {
  margin-right: 0;
}
.cloud .field.type-checkbox input {
  position: relative ;
  margin-right: 5px;
}
.field.type-checkbox .multiple-options {
  padding-left: 0px;
}
.field.type-checkbox .multiple-options label {
  line-height: 1.5em;
  font-size: .875em;
  margin: 0;
  display: block;
}
.field.type-checkbox .multiple-options input {
  position: relative ;
  top: -1px;
  margin-right: 5px;
}
/* ==== TABLE ============================================= */
tr.field.type-checkbox > td .input {
  min-height: 30px;
}
