.field.type-radio .radio-group {
  height: 1.5em;
}
.field.type-radio .radio-group label {
  line-height: 1em;
  float: left;
  padding: .125em 0 .25em;
  font-size: .875em;
  margin: 0;
}
.field.type-radio .radio-group input {
  position: relative ;
  margin-right: 5px;
  float: left;
}
