.field.type-radio .radio-group {
	height: 1.5em;
	label {
		line-height: 1em;
		float: left;
		padding: .125em 0 .25em;
		font-size: .875em;
		margin: 0;
	} 
	input {
		position: relative ;
		margin-right: 5px;
		float: left;
	}
}
