/***====================================================================================================================================
		"SEARCH CONTENT" DIALOG
	==================================================================================================================================== ***/
#wp-link-dialog .query-results {
	border-top: 1px solid #ccc;
	clear: both;
	margin-top: 3em;
}
#wp-link-dialog .link-search-wrapper label {
	padding-top: .5em;
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
}
#wp-link-dialog #link-search-field {
	float: right;
	width: 200px;
}
#wp-link-dialog .loading {
	height: 0;
	text-align: center;
	padding-top: 1em;
	position: relative;
	z-index: 10;
}
#wp-link-dialog .loading  img {
	display: none;
}
#wp-link-dialog .query-results .title {
	margin-top: -0.66em;
	margin-bottom: 0;
	font-size: 1em;
	color: #666;
	text-transform: uppercase;
	text-align: center;
}
#wp-link-dialog .query-results .title span {
	background: #f9f9f9;
	padding: 0 10px;
	display: inline-block;
	
}
#wp-link-dialog .query-results .list {
	background:#fff;
	display: none;
	max-height: 350px;
	overflow: scroll;
}
#wp-link-dialog .query-results .list li {
	border-bottom: 1px solid #efefef;
	height: 2.5em;
	line-height: 2.5em;
	margin: 0;
}
#wp-link-dialog .query-results .list li:first-child {
	border-top: 1px solid #efefef;
}
#wp-link-dialog .query-results .list li a {
	display: block;
	padding: 0 10px;
}
#wp-link-dialog .query-results .list li a:hover {
	background: #fafafa;
}
#wp-link-dialog .query-results .list li a .type {
	float: right;
	text-decoration: none;
	color: #999;
	text-transform: uppercase;
	font-size: .875em;
}
#wp-link-dialog .none-found {
	text-align: center;
}
