.group {
	position: relative;
	float: left;
	clear: both;
	cursor: move;
}
.type-group.no-sort .group {
	cursor: default;
	border-style: solid;
}
.group .add-remove {
	position: absolute;
	bottom: .5em;
	right: 15px;
}
.type-group .add,
.type-group .remove {
	font-size: 1.25em;
	background: #efefef;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 20px;
	height: 1.25em;
	line-height: 1em;
	margin: .125em 0 ;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	z-index: 20;
}
.group .remove.disabled {
	color: #ccc;
	background: #fafafa;
	cursor: default;
}
.type-group .remove {
	color: #C05F47;
}
.type-group .testimonial-input .remove {
	bottom: 5px;
	right: 15px;
}
.type-group.testimonials .add {
	bottom: 6px;
	right: 45px;
}
.type-group .add:hover,
.type-group .remove:hover {
	text-decoration: none;
}
.type-group .groups {
	margin: 0;
	max-width: 100%;	
	width: 100%;
}
.type-group .group {
	margin: .5em 0;
	padding: 1.5em 0 3em;
	border: 1px dashed #ccc;
	background: #fafafa;
	max-width: 100%;	
}
.type-group .group .field {
	margin-left: 15px;
	margin-right: 15px;
}
.field.type-group .group .copy_to_use {
	position: absolute; 
	right: 0;
}
.field.type-group:hover .group .copy_to_use {
	display: none;
}
.field.type-group:hover .group .field:hover .copy_to_use {
	display: block;
}