.group {
	position: relative;
	cursor: move;
}
.type-group .groups {
	margin: 0;
	max-width: 100%;	
	width: 100%;
}
.type-group .group {
	margin: .5em 0;
	padding: 1em 0;
	border: 1px dashed #ccc;
	background: #fafafa;
}
.type-group.no-sort .group {
	cursor: default;
	border-style: solid;
}
.type-group .group .field {
	padding-bottom: 0;
}
.type-group .group table {
	table-layout: fixed ;
}
.type-group .group table tr {
	max-width: 100%; 
}
.type-group .group table td {
	padding-bottom: .5em;
	width: auto; 
	overflow:hidden; 
	white-space: nowrap ;
}
.field.type-group .group th {
}
.field.type-group .group .label {
	float: none; 
	margin-right: 10px;
	position: relative;
	 
}
.field.type-group .group .label label {
	font-size: 1em ;
	padding: .5em 0 0 15px;
	margin: 0; 
	float: right;
	font-weight: normal;	
}
.type-group .group .copy_to_use {
	position: absolute; 
	right: 0; 
	top: -.25em;
}
.type-group .group .copy_to_use a {
	float: left;
}
.type-group .add-remove {
	position: absolute; 
	bottom: 0; 
	left: 100%;
	margin: 0 0 0 10px ;
	width: 50px;
}
.type-group .add,
.type-group .remove {
	font-size: 1.25em;
	background: #efefef;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 20px;
	height: 1.25em;
	line-height: 1em;
	margin: .125em 0 ;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	z-index: 20;
}
.group .remove.disabled {
	color: #ccc;
	background: #fafafa;
	cursor: default;
}
.type-group .remove {
	color: #C05F47;
}
.type-group .add:hover,
.type-group .remove:hover {
	text-decoration: none;
}
.field.type-group:hover .group .copy_to_use {
	display: none;
}
.field.type-group:hover .group .field:hover .copy_to_use {
	display: block;
}

#side-sortables .cloud.metabox .group td {
	max-width: 120px;
}
