/* media url field type */
.field.type-media_url .preview-image {
	max-width: 190px;
	max-height: 50px;
	width: auto;
	height: auto;
	margin-left: 10px;
	
}
.field.type-media_url .field {
	padding-top: .25em;
}
.field.type-media_url .field + .description {
	padding-top: .25em;
}

.field.type-media_url .url_field {
	margin: 0 0 0 10px;
	font-size: .875em;	
}