/* "copy to use" css */
.cloud-options .field {
	position: relative;
}
.copy_to_use {
	display: inline-block;
	padding-left: 5px;
	float: right;	
	position: relative;
	font-family: monospace;	
	display: none;
	width: 0;
	text-align: right;
}
.copy_to_use > a {
	display: block;
	font-size: .875em;
	line-height: 1em;
	background: #fafafa;
	border: 1px #efefef solid;
	border-radius: 3px;
	padding: .375em 5px;
	z-index: 100;
	cursor: pointer;
	float: right;
}
.field:hover .copy_to_use {
	display: block;
}
.field:hover .clone .copy_to_use {
	display: none;
} 
.field .clone:hover .copy_to_use {
	display: block;
	left: auto; 
	right: 0;
	top: -1px;
}
.field .clone .copy_to_use a {
	float: left;
}
.cloud-options .copy_to_use .copy-container {
	display: none;
	position: absolute; 
	top: 0%;
	left: -50%;
	z-index: 100;
	width: 300px;
}
.cloud-options .copy_to_use .copy {
	font-size: 1em;
	padding: 0 5px;
	border: 1px solid #08C;
	max-width: 100%;
	width: 300px;
	box-shadow: 0 0 5px rgba(0,0,0, .5); 	
	text-align: center;	
}

/* cloneable css */
.clone {
	cursor: move;
}
.no-sort .clone {
	cursor: default;
}
.clone input {
	margin-bottom: 0;
}
.clone .add-remove {
	position: absolute;
	top: 1em;
	left: 103%;
	white-space: nowrap;
}
.cloneable .add,
.cloneable .remove {
	background: #efefef;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 20px;
	line-height: 1em;
	height: 1em;
	padding-bottom: 2px;
	font-size: 1.25em;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	z-index: 20;
}
.clone .remove.disabled {
	color: #ccc;
	background: #fafafa;
	cursor: default;
}
.cloneable .remove {
	color: #C05F47;
}
.cloneable .add:hover,
.cloneable .remove:hover {
	text-decoration: none;
}
.cloneable .clone {
	padding: 1em 10px 1em 10px;
	margin: 0 0 0 20px;
	border-top: 1px dashed #ccc;
	position: relative;
	clear: both;	
	float: left;
	min-height: 2em;
}
.cloneable .clone:first-child {
}
.clone .copy_to_use {
	position: absolute;
	top: -1em;
	left: 103%;
}
.clone .number {
	position: absolute;
	top: -.25em;
	right: 100%;
	background: #fff;
	border: 1px solid #ccc;
	width: 20px;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	border-radius: 3px;
}
/***====================================================================================================================================
		OPTIONS PAGE
	==================================================================================================================================== ***/
/***====================================================================================================================================
		METABOX
	==================================================================================================================================== ***/
.cloud-options.metabox .copy_to_use {
	position: absolute;
	right: 0;
}