.options-page {
	max-width: 1170px;
}
.options-page .tabbable {
	padding-top: 2em;
}
.options-page input {
	max-width: 98%;
}
.form-table {
}

/* tabs */
.tab-content {
	overflow: visible; 
}

/* scroll layout */
#scroll-nav {
	top: 90px;
}
#scroll-content {
	margin-left: 135px;
	padding: 0 15px;
}
#scroll-content .section {
	margin-bottom: 1em;
	padding: 2em 30px;
	background: #fafafa;
	border: 1px solid #ccc;
}
.wrap.scroll .submit {
	margin-left: 150px;
}
.wrap form h1 {
	font-size: 2em;
}
.wrap form h2 {
	font-size: 1.5em;
}
.wrap form h3 {
	font-size: 1.125em;
}
.wrap form h4 {
	font-size: 1em;
}
.wrap form h5 {
	font-size: .875em;
}
.wrap form h6 {
	font-size: .75em;
}
.wrap input, 
.wrap textarea {
	width: auto;
}
.options-page label {
	float: left;
}
.options-page label + input {
	float: left;
	margin-left: 10px;
}
.options-page .description {
	clear: both;
	display: inline-block;
	float: left;
}
.options-page p {
	clear: both;
	margin-bottom: .5em;
	margin-top: 0;
	line-height: 1em;
}
.options-page p label {
	margin-bottom: 0;
}

.options-page .group {
	float: left;
	clear: both;
}
.copy_to_use {
	display: inline-block;
	padding-left: 5px;
	position: relative;
	font-size: .75em;
	float: right;
	z-index: 100;
	cursor: pointer;
}
.options-page .copy_to_use .copy {
	display: none;
	position: absolute; 
	top: 100%;
	left: 50%;
	z-index: 100;
	border: 1px solid #08C;
	box-shadow: 0 0 5px rgba(0,0,0, .5); 
	width: 420px;
	max-width: 10000px;
	font-size: 1em;
	font-family: monospace;
	padding: 0 5px;
}
.options-page .section > .description, .options-page > .description {
	display: block;
	float: none;
}
.options-page .text-content *:first-child {
	padding-top: 0;
} 
.options-page .text-content h1, 
.options-page .text-content h2, 
.options-page .text-content h3, 
.options-page .text-content h4, 
.options-page .text-content h5, 
.options-page .text-content h6 {
	font-weight: bold;
	padding: 1em 0 0 ;
	margin: 0;
}
.options-page .text-content h1 {
	font-size: 2em;
}
.options-page .text-content h2 {
	font-size: 1.5em;
}
.options-page .text-content h3 {
	font-size: 1.125em
}
.options-page .text-content h4 {
	font-size: 1em;
}
.options-page .text-content h5{
	font-size: .875em;
}
.options-page .text-content h6 {
	font-size: .75em;
}
.options-page .text-content ul {
	list-style: disc;
}
.options-page .text-content ol {
	list-style: decimal;
}
.options-page .text-content p,
.options-page .text-content ul,
.options-page .text-content ol {
	padding-top: 1em;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5em;
}
.options-page .text-content li {
	margin: 0;
}
.options-page .header {
	width: 100%;
	float: left;
	padding-bottom: 1em;
}
.options-page .header .title {
	line-height: 1em;
	font-size: 1.25em;
	text-transform: uppercase;
	color: #666;
}
.options-page textarea,
.options-page input,
.options-page label {
	max-width: 100%;
}