.cloud-options {
	max-width: 1170px;
}
.cloud-options .tabbable {
	padding-top: 2em;
}
.cloud-options .tab-content {
	overflow: visible;
}
.cloud-options input {
	max-width: 98%;
}
.form-table {
}

/* tabs */
.tab-content {
	overflow: visible; 
}

/* scroll layout */
#scroll-nav {
	top: 90px;
}
#scroll-content {
	margin-left: 135px;
	padding: 0 15px;
}
#scroll-content .section {
	margin-bottom: 1em;
	padding: 2em 30px;
	background: #fafafa;
	border: 1px solid #ccc;
}
.wrap.scroll .submit {
	margin-left: 150px;
}
.wrap form h1 {
	font-size: 2em;
}
.wrap form h2 {
	font-size: 1.5em;
}
.wrap form h3 {
	font-size: 1.125em;
}
.wrap form h4 {
	font-size: 1em;
}
.wrap form h5 {
	font-size: .875em;
}
.wrap form h6 {
	font-size: .75em;
}
.cloud-options .field input, 
.cloud-options .field textarea {
	width: auto;
}
.cloud-options label {
	float: left;
}
.cloud-options label + input {
	float: left;
	margin-left: 10px;
}
.cloud-options .description {
	clear: both;
	display: block;
}
.cloud-options p {
	clear: both;
	margin-bottom: .5em;
	margin-top: 0;
	line-height: 1em;
}
.cloud-options p label {
	margin-bottom: 0;
	cursor: default; 	
}

.cloud-options .group {
	float: left;
	clear: both;
}

.cloud-options .section > .description, .cloud-options > .description {
	display: block;
	float: none;
}
.cloud-options .text-content *:first-child {
	padding-top: 0;
} 
.cloud-options .text-content h1, 
.cloud-options .text-content h2, 
.cloud-options .text-content h3, 
.cloud-options .text-content h4, 
.cloud-options .text-content h5, 
.cloud-options .text-content h6 {
	font-weight: bold;
	padding: 1em 0 0 ;
	margin: 0;
}
.cloud-options .text-content h1 {
	font-size: 2em;
}
.cloud-options .text-content h2 {
	font-size: 1.5em;
}
.cloud-options .text-content h3 {
	font-size: 1.125em
}
.cloud-options .text-content h4 {
	font-size: 1em;
}
.cloud-options .text-content h5{
	font-size: .875em;
}
.cloud-options .text-content h6 {
	font-size: .75em;
}
.cloud-options .text-content ul {
	list-style: disc;
}
.cloud-options .text-content ol {
	list-style: decimal;
}
.cloud-options .text-content p,
.cloud-options .text-content ul,
.cloud-options .text-content ol {
	padding-top: 1em;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5em;
}
.cloud-options .text-content li {
	margin: 0;
}
.cloud-options .header {
	width: 100%;
	float: left;
	padding-bottom: 1em;
}
.cloud-options .header .title {
	line-height: 1em;
	font-size: 1.25em;
	text-transform: uppercase;
	color: #666;
}
.cloud-options textarea,
.cloud-options input,
.cloud-options label {
	max-width: 100%;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
/***====================================================================================================================================
		OPTIONS PAGE STYLES
	==================================================================================================================================== ***/
/***====================================================================================================================================
		METABOX STYLES
	==================================================================================================================================== ***/
.cloud-options.metabox p {
	margin-bottom: 0;
}
.cloud-options.metabox .field {
	padding: 0 0 1em 20px;
}
.cloud-options.metabox .field input {
	margin-bottom: 0 ;
}
.cloud-options.metabox .header {
	padding-bottom: 0;
}
.cloud-options.metabox .header .description {
	display: block;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
	padding-bottom: .5em;
}
.cloud-options.metabox .field .title {
	font-weight: bold; 
	display: block;
	margin-bottom: .5em;
	font-size: 1em;
	position: relative;
	left: -20px;
}
.cloud-options.metabox .field .description {
	padding: .5em 0 .5em 0;
}
.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}