
ul {
	list-style: none;
	padding-left: 0;
}
ul ul {
	list-style: circle;
}
ul ul li {
	margin-left: 50px;
	line-height: 1.5em;
}
#options-list {
	margin: 1em 15px;
	border: 1px dashed #ccc;
	padding: 1em 15px;
}
.subpage {
	padding-bottom: 2em;
}
.subpage-title {
	font-size: 1.25em;
	color: #333;
	border-bottom: 1px solid #ccc;
	line-height: 2em;
	padding: 0 15px 0;	
	
}
.section-title {
	display: inline-block;
	line-height: 2em;
	font-weight: bold;
	color: #666;
	padding: .5em 15px 0;
}
.explanation {
	font-style: italic;
	margin-top: 1em; 
	padding-top: 1em;
	border-top: 1px dashed #ccc;
	color: #666;
}
	