.ui-widget.ui-datepicker {
	font-size: 1em;
}
.ui-timepicker-div dt {
	float: left; 
	width: 24.5%;
	padding-right: 5%;
	clear: both;
	height: 2em;
	text-align: right;
	text-transform: uppercase;
	font-size: .875em;
}
.ui-timepicker-div dd {
	width: 70%;
	float: right;
	margin: 0;
	padding-bottom: .5em;	
}